<!-- home.html -->
{% extends 'gestion/base.html' %}

{% block content %}



<script>
    fetch('/profesores/')
        .then(response => response.json())
        .then(data => {
            const list = document.getElementById('profesor-list');
            data.forEach(profesor => {
                const li = document.createElement('li');
                li.textContent = `${profesor.nombre} ${profesor.apellido}`;
                list.appendChild(li);
            });
        });

    fetch('/mascotas/')
        .then(response => response.json())
        .then(data => {
            const list = document.getElementById('mascota-list');
            data.forEach(mascota => {
                const li = document.createElement('li');
                li.textContent = `${mascota.nombre}`;
                list.appendChild(li);
            });
        });
</script>
{% endblock %}
