<!-- mascota_list.html -->
{% extends 'base.html' %}

{% block content %}
<h1>Lista de Mascotas</h1>
<table>
    <tr>
        <th>Nombre</th>
        <th>Raza</th>
        <th>Acciones</th>
    </tr>
    {% for mascota in object_list %}
    <tr>
        <td>{{ mascota.nombre }}</td>
        <td>{{ mascota.raza }}</td>
        <td>
            <a href="{% url 'mascota-detail' mascota.pk %}">Ver</a>
            <a href="{% url 'mascota-detail' mascota.pk %}">Editar</a>
            <a href="{% url 'mascota-detail' mascota.pk %}">Eliminar</a>
        </td>
    </tr>
    {% endfor %}
</table>
<a href="{% url 'mascota-list-create' %}">Agregar Mascota</a>
{% endblock %}
